---
import "../styles/global.css";
interface Props {
	mdx: string;
}
const { mdx } = Astro.props as Props;

const matches = import.meta.glob("../pages/portfolios/*.mdx", {
	eager: true,
}) as Record<string, { frontmatter: Fronmatter }>;
const info = matches[`../pages/portfolios/${mdx}.mdx`].frontmatter;
type Fronmatter = {
	title: string;
	description: string;
	pubDate: string;
	tags: string[];
	author: string;
	image: string;
	layout: string;
};
---

<div
	class="flex flex-row rounded-lg bg-neutral-900 w-auto p-3 hover:-translate-y-1"
>
	<div class="flex flex-col">
		<!-- 文章標題 -->
		<a href=`/portfolios/${mdx}`>
			<p class="text-2xl text-white font-bold mt-2">{info.title}</p>
		</a>

		<!-- 文章標籤 -->
		<div class="flex flex-row gap-x-2">
			{info.tags.map((tag) => <p class="tag">{tag}</p>)}
		</div>

		<!-- 時間 -->
		<div class="flex flex-row rounded-xl mb-1">
			<i class="fi fi-rr-clock text-xs mr-1 mt-1"></i>
			<p class="text-sm">{info.pubDate.slice(0, 10)}</p>
		</div>
	</div>

	<!-- 圖片 -->
	<div id="image" class="rounded-lg w-full h-64">
		<img src=`${info.image}` class="rounded-lg w-full h-full" />
	</div>
</div>
